<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/aboutme.css">
</head>

<script>




</script>

<body>

    <div class='container'>

        <div class="shape1"><br><br>
                Salutations! I am Lawrence Heras, a dedicated Bachelor of Science in Information Technology (BSIT) enthusiast, weaving my narrative through the binary threads of codes and algorithms. Beyond the corridors of academia, I find my soul stirred by the rhythm of technology, propelling me into a captivating journey of discovery.</div>

        <br><div class="shape2"><br><br><br>Greetings! I'm Lloyd Philip, an aspiring individual currently pursuing a degree in Bachelor of Science in Information Technology (BSIT). My journey as a student is marked by a curiosity-driven exploration of the vast world of technology and its multifaceted applications. Beyond the classrooms and coding sessions, I am fueled by a genuine passion for unraveling the intricacies of the digital realm.</div>
        <div class="shape3"></div>
        <div class="container_content">
            <div class="container_content_inner">

                <div class="title">


                </div>
            </div>
            <h1 style="position: absolute;top: 20px;left: 1055px;">About us</h1>


            <br> <a href="../index.html"><button class="button-30 navBarTop" role="button"
                    style="position: absolute;width: 200px;left: 1050px;top: 100px;"> Home</button></a><br><br><br>
            <a href="./projects.html"><button class="button-30" role="button"
                    style="position: absolute;width: 200px;left: 1050px;top: 170px;"> Projects</button></a><br><br><br>
            <a href="./resume.html"><button class="button-30" role="button"
                    style="position: absolute;width: 200px;left: 1050px;top: 240px;"> Resume</button></a><br><br><br>
            <a href="./contact.html"><button class="button-30" role="button"
                    style="position: absolute;width: 200px;left: 1050px;top: 310px;"> Contacts</button></a><br><br><br>
        </div>
        <div class="image button-30s"></div>






</body>

</html>
