<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
    <div class= 'container'>
        <div class="container_content">
            <div class="container_content_inner">
                <div class="title">

                </div>
                <h1>Contacts</h1>
                <h2>Emails</h2>
                <p>20221183@nbsc.edu.ph</p>
                <p>20221324@nbsc.edu.ph</p>
                <h2>Contact #s</h2>
                <p>09564477560</p>
                <p>09092648315</p>

             </div> 
             
        </div>
        <a href="../views/index.html"><button class="button-30">home</button></a>     
    </div>
</body>
</html>