<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/projects.css">
</head>
<body>
    <div class= 'container'>
        <div class="container_content">
            <div class="container_content_inner">
                <div class="title">
    
                    

                </div>
                <h1>This is our projects</h1>
             </div>      
           <a href="main.html"> <button class="button-30">Home</button></a>
           
        </div>
    </div>
    
</body>
</html>