<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/resume.css">
</head>
<body>
    <div class= 'container'>
        <div class="container_content">
            <div class="container_content_inner">
                <div class="title">

                </div>
                <div class="Lloyd">
                <h1>This is our resumes</h1>
                <h2>LLOYD PHILIP H. TEJADA</h2>
                <p>Address: #128 Calanawan, Manolo Fortich, Bukidnon</p>
                <p>Contact: 09564477560 | Email: 20221183@nbsc.edu.ph</p>
                <br>
                <h3>Education:</h3>
                <p>High School Diploma
                    HCHS, Camp Philips, Manolo Fortich, Bukidnon
                    2022</p>
                <p>Elementary Education
                    Our Lady of Lourdes Elementary School (OLLES), Camp Philips, Manolo Fortich, Bukidnon
                    2016</p>
                <br>
                <h3>Skills</h3>
                <p>Coding</p>
                <p>Debugging</p>
                    </div>
                  
                    <div class="Law">
                        <h2>LAWRENCE B. HERAS</h2>
                        <p>Address: Block 13, Lot 14, Pinya st. Pch-2, Manolo Fortich Bukidnon</p>
                        <p>Contact: 09092648315 | Email: 20221324@nbsc.edu.ph</p>
                        <br>
                        <h3>Education:</h3>
                        <p>High School Diploma
                            MFNHS, Manolo Fortich Bukidnon
                            2022</p>
                        <p>Elementary Education
                           Camp 1 Elementary School, Camp Philips, Manolo Fortich, Bukidnon <br>
                           Manolo Fortich Central Elemtary School
                            2016</p>
                        <br>
                        <h3>Skills</h3>
                        <p>Coding, AutoCad, Editor, Basic level laptop repair</p>
                        <p>Stitching, Magmahal</p>
                            </div>

             </div>  
             <a href="index.html"><button class="button-30">Home</button></a>

        </div>
    </div>
</body>
</html>
